<!DOCTYPE html>
<html>

{{>header}}

<body>
	{{>links}} 
	<br/>
<!--  	<div>
		Enter a keyword:
		<input type="text" id="word_input">
	</div> -->
	<div id="data" display="none">{{fetchImage}}</div>
	<div>Image</div>
	<div id='display'></div>
	<script src="./logic.js"></script>
</body>

</html>