<!DOCTYPE html>
<html>

{{>header}}

<body>
	{{>links}} 
	<br/>
	<div>
		Enter a keyword:
		<input type="text" id="word_input">
	</div>
	<div>
		<button id="submit">Submit</button>
	</div>
	<div id = weather_display>
	</div>
	<script src="./weather.js"></script>
</body>

</html>